<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Company Details</title>


    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/responsivetypography.css">

    <script src="/javascripts/jquery-3.4.0.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/popper.min.js"></script>
    <script src="/javascripts/index_js.js"></script>
</head>
<body>
<%- include header.ejs -%>

<div class="container">
    <div class="jumbotron text-center" style="margin-bottom:0">
        <h1 class="display-4 text-break">Company1</h1>
        <h2><small class="text-success">Overall Rating: </small>4.0</h2>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="#" role="button">Add a Review</a>
    </div>
    <ul class="nav nav-pills nav-justified">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="pill" href="#reviews">Reviews</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#jobs">Jobs</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <!--reviews-->
        <div id="reviews" class="container tab-pane active">
            <div class="card mt-2 mb-2">
                <h5 class="card-header">
                    Title of the comment
                    <p class="font-weight-lighter font-italic">comment publisher 1</p>
                </h5>
                <div class="card-body">
                    <h5 class="card-title"><small>Rating: </small>4.0</h5>
                    <p class="card-text">Main content of the comment. Main content of the comment. Main content of the
                        comment. Main content of the comment. Main content of the comment. Main content of the comment.
                        Main content of the comment. Main content of the comment. Main content of the comment. Main
                        content of the comment. Main content of the comment. Main content of the comment. Main content
                        of the comment. Main content of the comment. Main content of the comment.
                    </p>
                </div>
            </div>
            <div class="card mt-2 mb-2">
                <h5 class="card-header">
                    Title of the comment
                    <p class="font-weight-lighter font-italic">comment publisher 2</p>
                </h5>
                <div class="card-body">
                    <h5 class="card-title"><small>Rating: </small>4.0</h5>
                    <p class="card-text">Main content of the comment. Main content of the comment. Main content of the
                        comment. Main content of the comment. Main content of the comment. Main content of the comment.
                        Main content of the comment. Main content of the comment. Main content of the comment. Main
                        content of the comment. Main content of the comment. Main content of the comment. Main content
                        of the comment. Main content of the comment. Main content of the comment.
                    </p>
                </div>
            </div>
        </div>
        <!--posted jobs-->
        <div id="jobs" class="container tab-pane fade">
        </div>
        <!--posted jobs-->
    </div>
</div>
</div>
</body>
</html>