<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Company Details</title>


    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/responsivetypography.css">
    <link rel="stylesheet" href="/stylesheets/customizeStyle.css">

    <script src="/javascripts/jquery-3.4.0.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/popper.min.js"></script>

    <script src="/javascripts/companyDetailsJS.js"></script>

</head>
<body class="customize-body">
<%- include header.ejs -%>

<!-- Modal -->
<div class="container-fluid">
    <div class="jumbotron text-center" style="margin-bottom:0">
        <h1 class="display-4 text-break">Company itself</h1>
        <h2>
            <small class="text-success">Overall Rating:</small>
            4.0
        </h2>
        <hr class="my-4">
    </div>
    <ul class="nav nav-pills nav-justified">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="pill" href="#reviews">Reviews</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#account">Account Management</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#cv">CV Management</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div id="reviews" class="container tab-pane active">
            <!--      fanhua notification of no review      -->

            <div class="jumbotron jumbotron-fluid mt-2">
                <div class="container text-center">
                    <h1 class="display-4">No Review!</h1>
                </div>
            </div>

            <!--            review of company-->
            <div class="card mt-2 mb-2">
                <h5 class="card-header">
                    Good company
                    <p class="font-weight-lighter font-italic">Shunbao</p>
                </h5>
                <div class="card-body">
                    <h5 class="card-title">
                        <small>Rating:</small>
                        5
                    </h5>
                    <p class="card-text">This is a good company</p>
                    <img src="/image/aaa.jpg" class="img-thumbnail">
                </div>
            </div>

        </div>
        <!--account management-->
        <div id="account" class="container tab-pane fade">
            <div class="jumbotron jumbotron-fluid mt-2">
                <div class="container">
                    <form id="consumerUserDetailManagement" method="post"
                          oninput='consumerRepeatPassword.setCustomValidity(consumerRepeatPassword.value!= consumerPassword.value ? "Passwords do not match." : "")'>
                        <div class="form-group">
                            <label for="currentCompanyPassword">Current Password</label>
                            <input type="password" class="form-control" name="currentCompanyPassword"
                                   placeholder="Current Password">
                            <p class="text-danger" id="passwordWrong">Password wrong!</p>

                        </div>
                        <hr>
                        <input type="hidden" class="form-control" name="userCategory" value="companyUserManagement">
                        <div class="form-group">
                            <label for="firstName">First Name</label>
                            <input type="text" class="form-control" name="firstName"
                                   placeholder="Company Name">
                        </div>
                        <div class="form-group">
                            <label for="lastName">Last Name</label>
                            <input type="text" class="form-control" name="lastName"
                                   placeholder="Company Name">
                        </div>
                        <div class="form-group">
                            <label for="consumerEmail">Email address</label>
                            <input type="email" class="form-control" name="consumerEmail"
                                   placeholder="Email Address">
                            <p class="text-danger" id="emailExists">Email address already exists!</p>
                        </div>
                        <div class="form-group">
                            <label for="consumerPassword">Change Password</label>
                            <input type="password" class="form-control" name="consumerPassword"
                                   placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label for="consumerRepeatPassword">Repeat Password</label>
                            <input type="password" class="form-control" name="consumerRepeatPassword"
                                   placeholder="Repeat Password">
                        </div>
                        <div class="form-group">
                            <label for="consumerSecurityQuestion">Security Question And
                                Answer</label>
                            <select class="form-control" name="consumerSecurityQuestion">
                                <option value="1">What primary school did you attend?</option>
                                <option value="2">In what town or city was your first job?</option>
                                <option value="3">What is your mother's maiden name?</option>
                            </select>
                            <br>
                            <input type="text" class="form-control" name="consumerSecurityAnswer"
                                   placeholder="Security Answer">
                        </div>
                        <div class="col text-center">
                            <button type="submit" class="btn btn-primary btn-block">Save Changes
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <!--posted jobs-->
        <div id="cv" class="container tab-pane fade">
            <!--fanhua no job provided notification-->
            <div class="jumbotron jumbotron-fluid mt-2">
                <div class="container">
                    <form id="consumerCvManagement">
                        <div class="form-group">
                            <label for="achievement">Achievement</label>
                            <textarea class="form-control" id="achievement" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="education">Education</label>
                            <textarea class="form-control" id="education" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="workExperience">Work Experience</label>
                            <textarea class="form-control" id="workExperience" rows="3"></textarea>
                        </div>
                        <div class="col text-center">
                            <button type="submit" class="btn btn-primary btn-block">Save Changes
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    //Show the name of the file appear on select
    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>
</body>
</html>