<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>The Hunt</title>

    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/responsivetypography.css">

    <script src="/javascripts/jquery-3.4.0.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/popper.min.js"></script>
    <script src="/javascripts/forgotPasswordJS.js"></script>

    <style>
        body, html {
            height: 100%;
        }
    </style>
</head>
<body>

<%- include header.ejs -%>

<!--search jumbotron-->
<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <form class="col-12" id="resetPassword">
            <div class="jumbotron">
                <h1 class="display-4 text-center">Reset Password</h1>
                <hr class="my-4">
                <!--enter email here-->
                <div class="form-group">
                    <label for="email"><b>E-mail:</b></label>
                    <input type="email" class="form-control" name="email" placeholder="Enter your E-mail address"
                           id="email" required>
                    <div class="invalid-feedback" id="emailExistingCheck"
                         style="display:none;">
                        E-mail address doesn't exist!
                    </div>
                </div>
                <!--button of check email, auto hide after if check is passed-->
                <button type="submit" class="btn btn-primary" id="next" onclick="return checkEmail()">NEXT</button>
                <!--secret question, auto display after email check is passed-->
                <div class="form-group" id="secretQuestionDiv" style="display: none">
                    <label for="secretAnswer"><b>Secret Question:</b></label>
                    <input type="text" class="form-control" name="secretQuestion" id="secretQuestion" disabled>
                    <input type="text" class="form-control" name="secretAnswer"  id="secretAnswer"
                       placeholder="Enter your secret question answer" required>
                    <div class="invalid-feedback" id="secretAnswerCheck"
                         style="display:none;">
                        Wrong secret answer!
                    </div>
                </div>
<!--auto display after email check is passed-->
                <div class="form-group" id="resetPasswordDiv" style="display: none">
                    <label for="resetPassword"><b>New Password:</b></label>
                    <input type="password" class="form-control" name="resetPassword" placeholder="Set your new password"
                           id="resetPassword" required>
                    <label for="resetRepeatPassword"><b>New Password:</b></label>
                    <input type="password" class="form-control" name="resetRepeatPassword"
                           placeholder="Repeat your new password"
                           id="resetRepeatPassword" required onkeyup="return passwordCheck()">
                        <!-- onkeyup='passwordCheck();' -->
                    <div class="invalid-feedback" id="passwordCheck"
                         style="display:none;">
                        Passwords are not Matching
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" id="reset"  style="display: none">RESET</button>
                    <!-- onclick="return checkAll()" -->
            </div>
        </form>
    </div>
</div>

</body>
</html>
