<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <script src="/javascripts/headerJS.js"></script>


</head>
<!-- Nav-bar -->

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">THE HUNT</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Find Jobs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/findCvs">Find CVs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/postJobs">Post Jobs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/jobRequests">Job Request</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <%
            if(user){
            %>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-thumbs-up"></i>Hi!
                        <%= user.name %>
                    </a>
                </li>
                <li class="nav-item ml-2">
                    <!--            user profile, hidden before login-->
                    <a href="/message" class="btn btn-primary" aria-pressed="true">
                        Notifications
                    </a>
                </li>
            <%
            } else {
            %>
                <!--            login and register button, hidden after login-->
                <li class="nav-item ml-2">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginRegister">
                        Login/Register
                    </button>
                </li>
            <%
            }
            %>

        </ul>

    </div>
</nav>


<!--new-->

<!--Login Modal -->
<div class="modal fade" id="loginRegister" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Nav tabs -->
            <div class="modal-body">
                <!-- Nav pills -->
                <ul class="nav nav-pills nav-justified">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="pill" href="#loginPane">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#registerPane">Register</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <!--login-->
                    <div class="tab-pane active container" id="loginPane">
                        <form id="login">
                            <br>
                            <div class="form-group">
                                <label for="loginEmail1"><strong>Email address:</strong></label>
                                <input type="email" class="form-control" id="loginEmail1" name="loginEmail1"
                                       aria-describedby="emailHelp" placeholder="Enter email" required>
                            </div>
                            <div class="form-group">
                                <label for="loginPassword"><strong>Password:</strong></label>
                                <input type="password" class="form-control" id="loginPassword" name="loginPassword"
                                       placeholder="Password" required>
                            </div>
                            <div class="invalid-feedback" id="invalidUsernamePasswordNotification"
                                 style="display:none;">
                                Invalid E-mail or password!
                            </div>
                            <br>
                            <div class="col text-center">
                                <button type="submit" class="btn btn-primary btn-block">LOGIN</button>
                                <br>
                                <a href="#" class="text-decoration-none">Forget Password?</a>
                            </div>
                        </form>
                    </div>

                    <!--register-->
                    <br>
                    <div class="tab-pane container" id="registerPane">
                        <div class="accordion" id="loginAccordion">
                            <!--Consumer Register-->
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                                data-target="#collapseTwo" aria-expanded="false"
                                                aria-controls="collapseTwo">
                                            Consumer Register
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                     data-parent="#loginAccordion">
                                    <div class="card-body">
                                        <!--consumer register-->
                                        <!--check password confirmation-->
                                        <form id="consumerRegister" method="post">
                                            <input type="hidden" class="form-control" name="userCategory" value="p">
                                            <div class="form-group">
                                                <label for="consumerFirstName">First Name</label>
                                                <input type="text" class="form-control" name="consumerFirstName"
                                                       placeholder="First Name" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="consumerLastName">Last Name</label>
                                                <input type="text" class="form-control" name="consumerLastName"
                                                       placeholder="Last Name" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="consumerEmail">Email address</label>
                                                <input type="email" class="form-control" name="consumerEmail"
                                                       placeholder="Email Address" required>
                                                <div class="invalid-feedback" id="duplicateConsumerEmailNotification"
                                                     style="display:none;">
                                                    E-mail address is already in used.
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="consumerPassword">Password</label>
                                                <input type="password" class="form-control" name="consumerPassword" id="consumerPassword"
                                                       placeholder="Password" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="consumerRepeatPassword">Repeat Password</label>
                                                <input type="password" class="form-control"
                                                       name="consumerRepeatPassword" id="consumerRepeatPassword" placeholder="Repeat Password"
                                                       required onkeyup='consumerPasswordConfirmation();'>
                                                <div class="invalid-feedback"
                                                     style="display:none;" id="consumerPasswordNotMatching">
                                                    Passwords are not Matching
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="consumerSecurityQuestion">Security Question And
                                                    Answer</label>
                                                <select class="form-control" name="consumerSecurityQuestion">
                                                    <option value="1">What primary school did you attend?</option>
                                                    <option value="2">In what town or city was your first job?</option>
                                                    <option value="3">What is your mother's maiden name?</option>
                                                </select>
                                                <br>
                                                <input type="text" class="form-control" name="consumerSecurityAnswer"
                                                       placeholder="Security Answer" required>
                                            </div>
                                            <div class="col text-center">
                                                <button type="submit" class="btn btn-primary btn-block">REGISTER
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <!--Company Register-->
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                                data-target="#collapseThree" aria-expanded="false"
                                                aria-controls="collapseThree">
                                            Company Register
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseThree" class="collapse"
                                     data-parent="#loginAccordion">
                                    <div class="card-body">
                                        <form id="companyRegister">
                                            <input type="hidden" class="form-control" name="userCategory" value="c">
                                            <div class="form-group">
                                                <label for="companyName">Company Name</label>
                                                <input type="text" class="form-control" name="companyName"
                                                       placeholder="Company Name" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="companyEmail">Email address</label>
                                                <input type="email" class="form-control" name="companyEmail"
                                                       placeholder="Email Address" required>
                                                <div class="invalid-feedback" style="display: none"
                                                     id="duplicateCompanyEmailNotification">
                                                    Email address is already in used.
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="companyPassword">Password</label>
                                                <input type="password" class="form-control" name="companyPassword"
                                                       placeholder="Password" id="companyPassword" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="companyRepeatPassword">Repeat Password</label>
                                                <input type="password" class="form-control" name="companyRepeatPassword"
                                                       placeholder="Repeat Password" id="companyRepeatPassword" required onkeyup='companyPasswordConfirmation()'>
                                                <div class="invalid-feedback"
                                                     style="display:none;" id="companyPasswordNotMatching">
                                                    Passwords are not Matching
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="companySecurityQuestion">Security Question And
                                                    Answer</label>
                                                <select class="form-control" name="companySecurityQuestion">
                                                    <option value="1">What primary school did you attend?</option>
                                                    <option value="2">In what town or city was your first job?</option>
                                                    <option value="3">What is your mother's maiden name?</option>
                                                </select>
                                                <br>
                                                <input type="text" class="form-control" name="companySecurityAnswer"
                                                       placeholder="Security Answer" required>
                                            </div>
                                            <div class="col text-center">
                                                <button type="submit" class="btn btn-primary btn-block">REGISTER
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
