<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<form action="" name="search">
    <input type="text" name="what" value="job title, keywords, or company"><input type="text" name="where" value="city or postcode"><button>SEARCH</button>
    <br>
    <input type="radio" name="search" value="job">Find Jobs
    <input type="radio" name="search" value="cvs">Find CVs<br>
</form>
<form action="" name="postJobs">
<button>Post Jobs</button>
</form>
</body>
</html>