<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Job Seeker Results</title>

    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/responsivetypography.css">
    <link rel="stylesheet" href="/stylesheets/customizeStyle.css">

    <script src="/javascripts/jquery-3.4.0.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/popper.min.js"></script>
</head>
<body class="customize-body">
<%- include header.ejs -%>
<div class="container" style="margin-top:30px">
    <div class="row">
        <!--        filter-->
        <div class="col-sm-4">
            <div class="jumbotron">
                <div class="container">
                    <h1 class="display-4">Filter</h1>
                    <form action="" id="cvSecondarySearch">
                        <!--            secondary search bar-->
                        <div class="form-group">
                            <label for="cvKeyword">Keywords</label>
                            <input type="text" class="form-control" name="cvKeyword"
                                   placeholder="job title, company name, job type" value="Amazon">
                        </div>
                        <div class="accordion" id="cvSecondarySearch">
                            <!--salary-->
                            <div class="card">
                                <div class="card-header" id="cvSalaryCollapse">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                                data-target="#collapseSalary" aria-expanded="true"
                                                aria-controls="collapseSalary">
                                            Salary
                                        </button>
                                    </h2>
                                </div>

                                <div id="collapseSalary" class="collapse" aria-labelledby="cvSalaryCollapse">
                                    <div class="card-body">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="cvSalary30000More"
                                                   name="cvSalary30000More">
                                            <label class="custom-control-label" for="cvSalary30000More">30000+</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input"
                                                   id="cvSalary20000To30000"
                                                   name="cvSalary20000To30000">
                                            <label class="custom-control-label"
                                                   for="cvSalary20000To30000">20000-30000</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input"
                                                   id="cvSalary10000To20000"
                                                   name="cvSalary10000To20000">
                                            <label class="custom-control-label"
                                                   for="cvSalary10000To20000">10000-20000</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="cvSalary0To10000"
                                                   name="cvSalary0To10000">
                                            <label class="custom-control-label" for="cvSalary0To10000">0-10000</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--job type-->
                            <div class="card">
                                <div class="card-header" id="jobTypeCollapse">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                                data-target="#collapseJobType" aria-expanded="true"
                                                aria-controls="collapseJobType">
                                            Job Types
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseJobType" class="collapse" aria-labelledby="jobTypeCollapse"
                                     data-parent="#cvSecondarySearch">
                                    <div class="card-body">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="cvJobTypeFullTime"
                                                   name="cvJobTypeFullTime">
                                            <label class="custom-control-label"
                                                   for="cvJobTypeFullTime">Full-Time</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="cvJobTypePartTime"
                                                   name="cvJobTypePartTime">
                                            <label class="custom-control-label"
                                                   for="cvJobTypePartTime">Part-Time</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="cvJobTypeInternship"
                                                   name="cvJobTypeInternship">
                                            <label class="custom-control-label"
                                                   for="cvJobTypeInternship">Internship</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="locationCollapse">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                                data-target="#collapseLocation" aria-expanded="false"
                                                aria-controls="collapseLocation">
                                            Location
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseLocation" class="collapse" aria-labelledby="locationCollapse">
                                    <div class="card-body">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="cvLocationSheffield"
                                                   name="cvLocationSheffield">
                                            <label class="custom-control-label"
                                                   for="cvLocationSheffield">Sheffield</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="cvLocationLondon"
                                                   name="cvLocationLondon">
                                            <label class="custom-control-label" for="cvLocationLondon">London</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input"
                                                   id="cvLocationManchester"
                                                   name="cvLocationManchester">
                                            <label class="custom-control-label"
                                                   for="cvLocationManchester">Manchester</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="cvLocationOther"
                                                   name="cvLocationOther">
                                            <label class="custom-control-label" for="locationOther">Other</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col text-center">
                                <button type="button" class="btn btn-primary btn-lg btn-block">Refine</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!--        searching result area-->
        <div class="col-sm-8">



            <div class="jumbotron jumbotron-fluid">
                <div class="container text-center">
                    <h1 class="display-4">No Related Result! </h1>
                </div>
            </div>

        </div>
    </div>
</div>

</body>
</html>