<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post a Job</title>

    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/customizeStyle.css">

    <script src="/javascripts/jquery-3.4.0.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/popper.min.js"></script>

    <script src="/javascripts/postJobsJS.js"></script>
    <script src="/javascripts/addressAutocompleteJS.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAA3vvAfUE6YA-kCOTxPhXHyBxORiMAtkw&libraries=places"
            type="text/javascript"></script>

    <style>
        body, html {
            height: 100%;
        }
    </style>
</head>
<body class="customize-body">
<%- include header.ejs -%>
<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <form class="col-12" id="postJob">
            <input type="hidden" id="companyName" value="<%= user.name %>">
            <input type="hidden" id="companyEmail" value="<%= user.email %>">
            <div class="jumbotron">
                <h1 class="display-4">Post a Job</h1>
                <p class="lead">Publish your CV to Companies to find you.</p>
                <hr class="my-4">
                <h4>Work details</h4>
                <form id="postJob">
                    <!--job title-->
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="title" name="title"
                               placeholder="Title of job" required>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <!--                    job type-->
                            <label for="requestJobType">Job Type</label>
                            <select class="form-control" id="requestJobType" name="requestJobType">
                                <option value="Full-Time">Full Time</option>
                                <option value="Part-Time">Part Time</option>
                                <option value="Internship">InternShip</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <!--                            industry-->
                            <label for="requestJobIndustry">Industry</label>
                            <select class="form-control" id="requestJobIndustry" name="requestJobIndustry">
                                <option value="IT">IT</option>
                                <option value="Education">Education</option>
                                <option value="Accounting">Accounting</option>
                                <option value="Energy">Energy</option>
                                <option value="Agriculture">Agriculture</option>
                                <option value="Transportation">Transportation</option>
                                <option value="Real Estate">Real Estate</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                    </div>
                    <!--salary-->
                    <div class="form-group">
                        <label for="postSalary">Salary</label>
                        <div class="input-group mb-3" id="postSalary">
                            <div class="input-group-prepend">
                                <span class="input-group-text">£</span>
                            </div>
                            <input type="text" class="form-control" id="salary" name="salary" required>
                            <div class="input-group-append">
                                <span class="input-group-text">/month</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <!--                        description-->
                        <label for="description">Description</label>
                        <textarea class="form-control" id="description" rows="3" name="description"
                                  placeholder="Add description here" required></textarea>
                    </div>
                    <!--                    image-->
                    <div class="form-group">
                        <label for="jobImage">Image</label>
                        <div class="custom-file mb-3">
                            <input type="file" class="custom-file-input" id="jobImage" name="jobImage" required>
                            <label class="custom-file-label" for="jobImage">Choose file</label>
                        </div>
                    </div>
                    <hr>
                    <!--                    address-->
                    <h4>Address</h4>
                    <div class="form-group">
                        <label for="autocomplete">Search Address</label>
                        <input type="text" class="form-control" id="searchTextField" name="autocomplete"
                               placeholder="Search Address" autocomplete="on" onFocus="autoFillAddress()">

                    </div>
                    <div class="form-group">
                        <label for="route">Street</label>
                        <input type="text" class="form-control" id="route" name="route" placeholder="Street" required>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="postal_town">City</label>
                            <input type="text" class="form-control" id="postal_town" name="postal_town"
                                   placeholder="City" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="administrative_area_level_1">State</label>
                            <input type="text" class="form-control" id="administrative_area_level_1"
                                   name="administrative_area_level_1" placeholder="State" required>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="postal_code">Postal Code</label>
                            <input type="text" class="form-control" id="postal_code" name="postal_code"
                                   placeholder="Postal Code" onblur="getLocation()" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="country">Country</label>
                        <input type="text" class="form-control" id="country" name="country" placeholder="Country"
                               required>
                    </div>
                    <!--                    latitude-->
                    <input id="cityLat" name="cityLat" type="hidden"/>
                    <!--                    longitude-->
                    <input id="cityLng" name="cityLng" type="hidden"/>
                    <div class="row mt-2">
                        <div class="col text-center">
                            <button type="submit" class="btn btn-primary btn-lg btn-block">PUSH</button>
                        </div>
                    </div>
                </form>
            </div>
        </form>
    </div>
</div>


<script>
    function getLocation() {  
        alert('getLocation method');
        var geocoder = new google.maps.Geocoder();  
        var postcode = $('#postal_code').val();
        alert('postcode:'+postcode);
        geocoder.geocode({ 'address': postcode }, function (results, status) {  
            if (status == google.maps.GeocoderStatus.OK) {  
                var latitude = results[0].geometry.location.lat();  
                var longitude = results[0].geometry.location.lng();  
                alert("Latitude: " + latitude + "nLongitude: " + longitude);  
                $('#cityLat').val(latitude);
                $('#cityLng').val(longitude);
            } else {  
                alert("Request failed.")  
            }  
        });  
    }; 
</script>
</body>
</html>